@page
@model StaffPortal.Pages.StaffDetails.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StaffDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.StaffRef)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.StaffRef)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Email2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Email2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Ext)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Ext)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.SiteCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.SiteCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.SiteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.SiteName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.RoomCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.RoomCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.RoomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.StaffTypeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.StaffTypeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.StaffTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.StaffTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.CollegeLevelCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.CollegeLevelCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.CollegeLevelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.CollegeLevelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.CollegeLevels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.CollegeLevels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.ContractNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.ContractNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.ContractRef)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.ContractRef)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.MainJobPostTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.MainJobPostTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.MainJobFTE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.MainJobFTE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.MainJobStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.MainJobStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.MainJobLeaveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.MainJobLeaveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.MainJobPostActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.MainJobPostActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.MainJobContractHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.MainJobContractHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.MainJobContactHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.MainJobContactHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.PostTitles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.PostTitles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.TotalFTE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.TotalFTE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.EarliestStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.EarliestStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.LatestLeaveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.LatestLeaveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.TotalContractHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.TotalContractHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.TotalContactHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.TotalContactHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.EmployeeStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.EmployeeStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffDetail.EmailForwarding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffDetail.EmailForwarding)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StaffDetail.StaffDetailID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
